<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <div class="Post_type_section_wrapper">
      <%= react_component 'O_history_cards', { histories: @histories} %>
    </div>
