.btn {
  padding: 24px 48px;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  line-height: 16px;
  font-family: "HSE Sans";
  letter-spacing: 2px;
  border: none;
  height: 62px;
  &.btn--secondary {
    background-color: var(--light-gray);
    color: var(--black);
  }
  &.btn--primary {
    background-color: var(--black);
    color: var(--white);
  }
  &.btn--line {
    background-color: var(--white);
    color: var(--black);
    border: solid var(--black) 1px;
    &:active {
      background-color: var(--blue-60);
    }
    &:disabled {
      opacity: 0.15;
    }
  }
  &.btn-active {
    background-color: var(--blue-60);
    color: var(--white);
    border: none;
  }
}
